body {
    background: url(../images/forex-background.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    overflow-x: hidden;
    color: whitesmoke;
}

/*little hack for nicely formatted cross-browser br height*/
br {
    content: ""; /*chrome and edge*/
    margin: -20px 2em 2em 2em;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: whitesmoke;
}

h4 {
    font-weight: 600;
}

ul {
  margin: 0;
}


.header {
    background: black;
    position: relative;
    width: 100%;
}

.content {
    background: url(../images/forex-background.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    /*margin-top: 3rem;*/
}

.navbar {
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.nav-item {
    font-family: "Segoe UI Semibold";
    font-size: 18px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.section {
    padding-bottom: 40px;
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
    color: #fff;
    /*border-bottom: 1px solid rgba(218,165,32, 0.5);*/
}

.section-heading .heading {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .description {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


.form-control:focus {
    border-color: goldenrod;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.75), 0 0 8px rgba(255, 255, 255, 0.6);
}

.form-section {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid rgba(255, 215, 0, 0.9);

}

.content-section, .section-heading {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 2px solid rgba(255, 215, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-section {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 215, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
}

.left-image img, .right-image img, .modal-box {
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(218,165,32, 0.5);
}

.left-image, .right-image, .left-text, .right-text {
    padding-left: 25px;
    padding-right: 25px;
}
.article-image, .article-text{
    padding-left: 25px;
    padding-right: 25px;
}

.text-preview {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.thumbnail {
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
}


.content-section p, .content-section p {
    margin-top: 20px;
}


.active {
    color: goldenrod !important;
    border-color: goldenrod;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.75), 0 0 8px rgba(255, 255, 255, 0.6);
}

button {
    background: none;
    border: none;
    font-size: 1em;
    color: whitesmoke;
    font-weight: 400;
}

button:hover {
    color: goldenrod;
    font-weight: 550;
}


.white-button a, .register-btn, .search-button, .management-button, .modal-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.white-button a:hover, .register-btn:hover,.management-button:hover,.modal-button:hover, .sm-management-button:hover  {
    background-color: white;
    color: black;
    border: 1px solid goldenrod;
}

.sm-management-button {
    display: inline-block;
    padding: 8px 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

footer {
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 3px solid goldenrod;
    margin-top: 60px;
    margin-bottom: 0;

}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.account-heading {
  font-size: 2.5rem;
}

.admin-menu {
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

a:hover {
    color: goldenrod;
    font-weight: 600;
}


.status-info {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Confirmation Popup */

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: black;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: goldenrod;
}
